* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 100%;
  font-style: normal;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  background-color: gray;
}

/* page */

.page {
  display: flex;
  flex-direction: column;
  margin: 100px;
  background-color: #fff;
  width: 100%;
  max-width: 1440px;
  height: 800px;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 21px 150px;
}

ul {
  display: flex;
  gap: 50px;
}

li button {
  background-color: #fff;
}

.Login {
  padding: 10px 50px;
  background-color: #fff;
  border: 1px solid #0cbbc7;
}

/* body */

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.h1 {
  display: flex;
  width: 100%;
  max-width: 779px;
  justify-content: center;
}
